name: streamlit-app
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - pip
  - pip:
    - streamlit
    - pandas
    - plotly
    - scikit-learn
    - numpy
    - statsmodels
    - scipy
